
[Unit]
Documentation=Mount point for the LIGO frame files CVMFS repository.

[Mount]
What=ligo.osgstorage.org
Where=/cvmfs/ligo.osgstorage.org
Type=cvmfs
Options=noauto,x-systemd.automount

