
[Unit]
Documentation=Mount point for the OASIS CVMFS repository.

[Mount]
What=oasis.opensciencegrid.org
Where=/cvmfs/oasis.opensciencegrid.org
Type=cvmfs
Options=noauto,x-systemd.automount

